@keyframes site-enter {
	from {
		top: -20px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes site-enter-fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes site-enter-underline-expand {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

@keyframes circle {

}