body{
    margin: 0;
    padding: 0;
}

.title {
    font-family: HelveticaNeue-Medium;
    font-size: 42px;    
    text-transform: uppercase;
    margin-bottom: 10px;
}
.subtitle {
    font-family: HelveticaNeue-Light;
    font-size: 24px;  
    text-transform: uppercase;
}
h1 {
    font-family: HelveticaNeue-Medium;
    font-size: 24px;
    text-transform: uppercase;
}
p {
    font-family: OpenSans-Light;
    font-size: 18px;
}
a {
    font-family: OpenSans-Light;
    font-size: 18px;
    text-decoration: none;
}

.text-light {
    color: rgba(0,0,0,0.80);
}
.text-dark {
    color: rgba(255, 255, 255, 0.9);
}
a.text-light {
    color: rgba(0,89,234,0.90);
}
a.text-dark {    
    color: rgba(77,144,255,0.90);
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: right;    
    padding: 32px 136px;

    z-index: 100;
    opacity: 0;

    animation-name: site-enter;
    animation-delay: 0.75s;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
.nav-bar a {
    margin-left: 26px;
}

.welcome-page {   
    z-index: 0;
    position: relative; 
    height: 100vh;         
}
.welcome-page .content {         
    display: flex;
    justify-content: space-around;
    align-items: center;    
    flex-direction: row;            
    padding-top: 10%;
}
.welcome-page #welcome-content-container,
.welcome-page #welcome-logo {
    opacity: 0;
    animation-name: site-enter;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.entry-door {    
    position: absolute;
    bottom: 20%;
    left: 50%;
    opacity: 0;    
    text-align: center;
    transform: translateX(-50%);    
    animation: site-enter-fade;
    animation-duration: 0.25s;
    animation-delay: 0.75s;
    animation-fill-mode: forwards;
    cursor: default;
}
.entry-door p {
    margin: 0;  
    transition: 0.25s ease;  
}
.entry-door .underline {
    width: 100%; 
    height: 0;
    border: 1px solid rgba(0,0,0,0.80);
    transition: 0.25s ease;
    
    animation: site-enter-underline-expand;
    animation-delay: 0.75s;    
    animation-duration: 0.25s;    
}
.entry-door:hover .underline {
    transform: scaleX(1.5);
}
.entry-door:hover p {
    margin-bottom: 5px;
}
.entry-door .surrounding-circle {        
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;    
    border-radius: 50%;    
    padding: 18px;
    width: 32px;
    height: 32px;    
    transition: 0.2s;
}
.entry-door .surrounding-circle img {
    transition: 0.2s;
}
.entry-door .surrounding-circle:hover {    
    transform: scale(1.25) translateY(8px);        
    border-width: 10px;
}
.entry-door .surrounding-circle:hover img {
    transform: scale(0.5); 
}